root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# charset指定はVSCodeでは効かない
# https://github.com/editorconfig/editorconfig-vscode
charset = utf-8

[*.{ps1,psm1}]
charset = utf-8-bom
